{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="container mt-5" style="max-width: 500px;">
  <div class="card shadow-sm rounded-4 p-4">
    <h4 class="text-center mb-3">Регистрация</h4>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary w-100">Зарегистрироваться</button>
    </form>
    <div class="text-center mt-3">
      Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>
    </div>
  </div>
</div>
{% endblock %}
